body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul  {
  list-style: none;
}
div.header-text  {
  text-align: center;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 1400px;
  padding: 25px;
  margin: 100px auto;
}
div.header-text p {
  text-align: center;
  margin: 5px;
  font-size: 30px;
}

div.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 300px;
  padding: 25px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 350px;
}

input {
  padding: 15px;
  border-radius: 6px;
}

button {
  border: 0;
  background: #6dba4d;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  outline: 0;
  padding: 1px 3px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 1px 0 #006599;
  transform: translateY(3px);
}
button:hover  {
  background: #5b9d40;
}

div.cover  {
  background-image: url("img/kaf_background.jpg");
  background-size: cover;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);
  width: 100%
  padding: 25px;
}

nav > a  {

  padding-left: 50px;
}
nav ul {
  display: flex;
  padding: 10px;

  justify-content: space-between;
}

nav ul li {
  margin-right: 45px;

}
nav ul li:last-child {
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 3px;
  border-radius: 4px;
}

nav ul li a:link, nav ul li a:visited {
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
    background-color: #185d3a;
}

div.nav-collapse {
  display: none;
}

div.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

div.links-container ul li:first-child {
  color: #55c66e
}

div.links-collapse  {
  display: none;
  width: 100%;
}

footer  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

footer > a  {

  padding-left: 30px;
}
footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer ul li {
  font-size: 18px;
  margin-right: 20px;
}

@media only screen and (max-width: 1500px) {
  .header-text {
    max-width: 600px;
  }
}

@media only screen and (max-width: 920px) {
  h1  {
    font-size: 45px;
  }
  div.header-text {
    width: 300px;
  }
  div.header-text p {
    font-size: 25px;
  }
  nav {
    display: none;
  }
  div.links-container {
    display: none;
  }


  div.nav-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.6);
    width: 100%
    padding: 25px;

  }

  div.nav-collapse ul {
    display: flex;
    justify-content: space-between;
  }
  div.nav-collapse > a  {
    padding-left: 50px;
  }

  div.nav-collapse ul li {
    margin-right: 45px;
  }

  div.nav-collapse ul li:last-child {
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 3px;
    border-radius: 4px;
  }

  div.links-collapse  {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
  }

  div.links-collapse ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  div.links-collapse ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #63b658;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    text-align: center;


  }
}
